.nav{
    display: flex;
    text-transform: uppercase;
    background: #dedede;
    padding: 20px;
}
.nav a{
    margin-right: 20px;
}
.titlePage{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}