.nav{
    display: flex;
    text-transform: uppercase;
    background: #dedede;
    padding: 20px;
}
.nav a{
    margin-right: 20px;
}
.titlePage{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.paginateTable > li{
    padding: 8px;
    background: #F6F5F7;
    margin: 1px;
    font-weight: bold;
    list-style: none;
}
.paginateTable > li:hover{
    background: #dedede;
    color: #3F5F75;
}
@media (min-width: 768px) {
    .paginateTable{
        display: flex;
        text-align: center;
        width: 23%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 80px;
    }
}
@media (max-width: 768px) {
    .paginateTable{
        display: flex;
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 80px;
    }
}